/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----------------------------*/
/* font-family: 'Noto Sans TC', sans-serif;  */

* {
	margin: 0 auto;
	box-sizing: border-box;
}

body {
	font-family: "Noto Sans TC", sans-serif;
	color: #221e1f;
	font-size: 16px;
	line-height: 24px;
	position: relative;
	margin: 0 auto;
}

p {
	padding-top: 16px;
}

img {
	vertical-align: middle;
}

.pa-s{
	padding:0 10%;
}

.mb-s {
	/* for section */
	margin-bottom: 100px;
}

.m-ul {
	margin-top: 48px;
	column-gap: 16px;
	row-gap: 24px;
}

.br-li{
	border-radius: 12px;
	box-shadow: 0px 2px 10px #00000014;
	background: #fff;
}

.fz-l {
	font-size: 32px;
	line-height: 46px;
	font-weight: 600;
}

.fz-m {
	font-size: 20px;
	line-height: 29px;
}

.fz-s {
	font-size: 18px;
	line-height: 26px;
}

.plan_price {
	text-decoration: none;
	background: #56c4c5;
	color: #fff;
	border-radius: 27px;
	width: 136px;
	line-height: 49px;
	text-align: center;
	font-size: 18px;
}

.plan_price:hover {
	background: #ff5d50;
}

.header {
	height: 100vh;
	background-image: url("../image/bg_home.svg"),
	url("../image/ball01.svg");
	background-repeat: no-repeat;
	background-position: top right, bottom -180px left -222px;
	background-size:auto 100vh, 360px;
}

/* ------------nav------------ */

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 24px 10%;
	margin-bottom: 30px;
}

nav .logo {
	max-width: 218px;
}

nav .plan_price {
	background: #ff5d50;
	width: 128px;
	line-height: 40px;
	font-size: 16px;
	border-radius: 22px;
}

nav .plan_price:hover {
	background: #56c4c5;
}

/* ------------banner------------ */

.banner {
	margin: 0 auto;
	width: 79.43%;
	display: flex;
	justify-content: space-between;
	align-items: center;	
}

.banner_p1 {
	/* ChatTalker 最全面的聊天機器人 */
	color: #56c4c5;
	padding-bottom: 8px;
}

.banner h2 {
	/* 你愛我像誰？ 扮演什麼角色我都會 */	
	font-size: 48px;
	line-height: 70px;
	font-weight: bold;
}

.banner img {
	width: 49%;
	max-width: 532px;
}

/* ------------top------------ */

.top {
	position: fixed;
	bottom: 23px;
	right: 48px;
	z-index: 2;
}

/* ------------內容------------ */

.container {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	
	/* padding:0 10%; */
}

/* ------------社交平台------------ */

.media {
	width: 100%;
	text-align: center;
	background: url('../image/ball01.svg') no-repeat top -180px left -222px/360px;
}

.media ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.media li {
	width: 32%;
	margin-left: auto;
	margin-right: auto;
} 

.media img {
	max-width: 90px;
}

.media h4 {
	font-size: 24px;
	font-weight: bold;
	padding: 24px 0;
	line-height: 35px;
}

.media p {
	color: #747474;
	padding: 0;
}

/* ------------角色區塊------------ */

.role {
	text-align: center;
	width: 100%;
	padding-bottom: 100px;
	background:url("../image/ball02.svg") no-repeat bottom -93px right -100px/310px;
	/* 右邊的球 */
}

.role ul {
	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.role li {
	width: 260px;
	
}

.role img {
	width: 100%;
	border-radius: 12px 12px 0 0;
}

.role h4 {
	color: #56c4c5;
	font-weight: 600;
	padding-top: 16px;
}

.role li p {
	padding-bottom: 24px;
}

/* ------------特色介紹------------ */

.feature {
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	/* justify-content: start; */
	align-content: center;
	text-align: left;
	column-gap: 16px;
	row-gap: 24px;	
	background:url("../image/ball02.svg") no-repeat top -217px right -100px/310px;
	/* 右邊的球 */
}

.feature_t {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 38%;
	flex-shrink: 0;
}

.feature_t .plan_price {
	margin-top: 24px;
}

.feature_ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	/* width: 62%; */
	margin-top: 0;
	column-gap: 47px;
	row-gap: 28px;
}

.feature_ul li {
	padding: 32px;
	padding-bottom: 48px;
	width: 230px;
	/* max-width: 50%; */
	box-sizing: border-box;
}

.feature_pic {
	width: 86px;
	height: 86px;
	border-radius: 43px;
	box-shadow: 0px 2px 10px #00000014;
	text-align: center;
	line-height: 80px;
}

.feature_ul img {
	width: 52px;
	height: 52px;
}

.feature_ul h4 {
	line-height: 26px;
	font-size: 18px;
	padding-top: 24px;
	font-weight: 600;
}

/* ------------好評如潮------------ */


.review {
	width: 100%;
	background: url("../image/ball03.svg") no-repeat top 46px left 50px/150px; /* 左下的球 */
} 

.review h3 {
	text-align: center;
	margin-bottom: 48px;
}

/* 將Swiper套件主色改為黃色 */
:root {
	--swiper-theme-color: #ffd153;
}

/* 將底部 pagination 分頁的 active 狀態改為想要的樣式 */
.swiper-pagination-bullet {
	width: 10px;
	height:10px;	
}

.swiper-pagination-bullet-active {
	width: 16px;
	border-radius: 8px;
}

/* 讓分頁圓點移至下方 */
.swiper-pagination {
	position: static;
	margin-top: 24px;
	line-height: 10px;
}


.review_ul li {
	margin-top: 56px;
	display: flex;
	flex-direction: column;
	position: relative;
	padding-top: 32px;
	padding-left: 32px;
	padding-right: 32px;
	padding-bottom: 24px;
}

.user_pic {
	width: 80px;
	border-radius: 40px;
	position: absolute;
	top: -56px;
	left: 36px;
}

.review_p {
	flex-grow: 1;
}

.review hr {
	width: 100%;
	margin-top: 23px;
	margin-bottom: 8px;
	border-top: 0px solid #dddddd;
}

.user_unit {
	font-weight: 600;
}

.user_b {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 8px;
}

.user {
	padding-top: 0;
}

.star img {
	height: 16px;
	line-height: 16px;
	vertical-align: baseline;
}


/* ------------footer------------ */

.footer {
	height: 503px;
	width: 100%;
	background: top/100% no-repeat url("../image/home_footer.svg");
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
}

.footer h3 {
	margin-bottom: 48px;
}

.footer a {
	margin-bottom: 100px;	
}

/* ------------版權------------ */

.copyright {
	background: #f5f5f5;
	text-align: center;
	line-height: 56px;
}

@media (max-width: 1280px) {
	.banner {
		width: 85%;
	}		
}

@media (max-width: 1080px) {
	
	.feature{
		flex-wrap: wrap;
	}
	
	.feature_t,	.feature_ul {
		width: 100%;
	}	
	
	.feature_t {
		align-items: center;
		text-align: center;
	}
	
	.feature_ul{
		justify-content: center;
		column-gap: 16px;
		row-gap: 24px	
	}
	
}

@media (max-width:992px) {
	.pa-s{
		padding: 0 40px;
	}
	
	.m-ul {
		margin-top: 32px;
	}
	
	.banner{
		margin: 0 auto;
		padding: 0 5%;
		justify-content: center;
	}
	
	.banner h2 {
		font-size: 40px;
		line-height: 52px;
	}
	
	.banner img {
		width: 43%;
	}
	
}

@media (max-width: 768px) {
	.mb-s {
		/* for section */
		margin-bottom: 60px;
		
	}
	
	.fz-l {
		font-size: 28px;
		line-height: 40px;
	}
	
	.fz-m {
		font-size: 18px;
		line-height: 26px;
	}
	
	.fz-s {
		font-size: 16px;
		line-height: 24px;
	}
	
	/* ----------header------------ */
	
	.header {
		background-image: none;
		margin-bottom: 60px;
	}
	
	nav {
		margin: 0 auto;
		border-bottom: 2px solid #ffd153;
		padding: 16px 20px;
	}
	
	
	.banner {			
		width: 100%;
		flex-wrap: wrap;
		justify-content: center;
	}
	
	.banner h2 {
		font-size: 32px;
		line-height: 46px;
	}
	
	.banner img {
		width: 100%;
		padding-top: 32px;
		background: url("../image/bg_home_sm.svg") no-repeat bottom/100%;		
	}
	
	.top {
		width: 50px;
		bottom: 16px;
		right: 16px;
	}
		
	/* ----media---- */
	.media,	.media li {
		width: 100%;
	}
	
	.media{
		background: url("../image/ball01.svg") no-repeat top 15px left -77px/126px;
		/* 左上的球 */
	}
	
	.media ul {
		justify-content: center;
	}
	
	.media img {
		width: 60px;
	}
	
	.media h4 {
		font-size: 18px;
		line-height: 26px;
		padding: 16px 0;
	}
	
	/* ----role---- */
	.role {
		padding-bottom: 60px;
		background:url("../image/ball02.svg") no-repeat bottom 28px right -47px/135px;
		/* 右邊的球 */
	}
	
	/* ----feature---- */	
	
	.feature {
		background: none;
	}
	
	.feature_ul h4 {
		padding-bottom: 4px;
	}	
	
	/* ----review---- */

	.review{ /* 左下的球 */
		background: url("../image/ball03.svg") no-repeat top 40px left -76px/153px;
	}
	
	.review_ul li {
		padding-left: 16px;
		padding-right: 16px;
		padding-bottom: 16px;
	}

	/* ----footer---- */
	.footer {
		height: 461px;
		background-size: cover;
	}
	
	.footer h3{
		font-size: 24px;
		line-height: 35px;
		margin-bottom: 24px;
	}
	
	.footer a{
		margin-bottom: 60px;
	}
}

@media (max-width: 375px) {
	.pa-s{
		padding-left: 20px;
		padding-right: 20px;
	}

	nav .logo {
		max-width: 130px;
	}
}